.form-order-a-call{
    position: absolute;
    max-width: 454px;
    padding: 36px 40px 48px 40px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.15);
    background: var(--very-light-grey);
    top: -1000px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    transition: .5s;
}

.form-order-a-call__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 17px;
}

.form-order-a-call__label{
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--dark-blue);
    margin-bottom: 11px;
}

.form-order-a-call__input{
    box-sizing: border-box;
    border: 1px solid var(--grey);
    border-radius: 6px;
    padding: 15px 0 13px 19px;
    width: 100%;
    outline: none;
}

.form-order-a-call__input-item{
    position: relative;
    margin-bottom: 20px;
}

.form-order-a-call__input::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--grey);
}

.form-order-a-call__input-name{
    margin-bottom: 21px;
}

.form-order-a-call__input-tel{
    margin-bottom: 18px;
}

.form-order-a-call__errors{
    color: var(--red);
}

.form-order-a-call__input:focus{
    border: 1px solid rgb(231, 116, 46);
}

.error{
    border: 1px solid var(--red);
}

.agreement{
    margin-bottom: 32px;
}

.agreement__label{
    display: flex;
    gap: 19px;
}

.agreement__label::before{
    content: '';
    display: block;
    min-width: 24px;
    height: 24px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    cursor: pointer;
}

.agreement__checkbox{
    display: none;
}

.agreement__checkbox:checked + .agreement__label::before{
    background-image: url(../images/call-a-master/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.agreement__checkbox:not(:checked) + .agreement__label::before{
    background-color: transparent;
}

.agreement__description{
    font-size: 14px;
    line-height: 130%;
    color: var(--dark-blue);
}

.agreement__description a{
    font-weight: 600;
    color: var(--dark-blue);
}

.form-order-a-call__button{
    display: block;
    border-radius: 10px;
    padding: 15px 32px;
    background: radial-gradient(50% 50% at 50% 50%, #f6a70c 0%, #e7742e 100%);
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-blue);
    border: 1px solid transparent;
    margin: 0 auto;
    transition: .3s;
    cursor: pointer;
}

@media(hover:hover){
    .form-order-a-call__button:hover{
        border: 1px solid var(--orange);
        background: var(--white);
        color: var(--orange);
    }
}